// Baloo 2 Font
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

$sans-serif-font: "Baloo 2", cursive;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$h2-size: 2rem;
$p-size: 1.15rem;
