body {
	background-color: $background;

	h2,
	p,
	a {
		font-family: $sans-serif-font;
		color: $text-color;
	}

	h2 {
		font-size: $h2-size;
	}

	p {
		font-size: $p-size;
	}

	.tag {
		color: $orange;
	}

	a {
		text-decoration: none;
		font-weight: $semi-bold;
	}
}
